* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 70px; 
}


#navbar {
    background-color: #4017bc;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
}

#navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    padding: 10px 20px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

#navbar ul li a:hover {
    background-color: #f2f3f5;
    color: #0e60b1;
}

#main-content {
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
}

header {
    background-color: #4017bc;
    padding: 50px 0;
    text-align: center;
    color: white;
    position: relative;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
}

.foto-perfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    animation: zoomIn 1.5s ease-in-out;
    transition: transform 0.3s, filter 0.3s;
}

.foto-perfil:hover {
    transform: rotate(15deg) scale(1.1);
    filter: brightness(1.2);
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Seção Sobre */
#sobre-mim {
    padding: 50px 0;
    background: linear-gradient(135deg, #666ccd, #fff);
    text-align: center;
}

#sobre-mim .container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#sobre-mim h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #53458f;
}

#sobre-mim p {
    font-size: 1.2em;
    line-height: 1.8;
    color: #555;
}

/* Seção Habilidades */
#habilidades {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.habilidades-lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.habilidade {
    width: 120px;
    text-align: center;
    margin: 20px;
}

.habilidade img {
    width: 50px;
    height: 50px;
}

.habilidade p {
    margin-top: 10px;
    font-size: 1.1em;
}

/* Seção Projetos */
#projetos {
    padding: 50px 0;
    background: #eef1f6;
    text-align: center;
}

.projetos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projeto {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 280px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projeto h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #4b3b4e;
}

.projeto p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.projeto a {
    color: #0e60b1;
    font-weight: bold;
    text-decoration: none;
}

.projeto a:hover {
    text-decoration: underline;
}

/* Seção Contato */
#contato {
    padding: 50px 0;
    background-color: #f4f7fc;
    color: #4357ed;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#contato h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #1b0f3d;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

#form-contato {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#form-contato input,
#form-contato textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 1.1em;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s;
    width: 100%;
}

#form-contato input:focus,
#form-contato textarea:focus {
    border-color: #3141ab;
    outline: none;
}

#form-contato button {
    padding: 15px;
    background-color: #2b3097;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

#form-contato button:hover {
    background-color: #6e64c7;
}

.rede-sociais {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.rede-sociais a {
    margin: 0 15px;
}

.icone-rede-social {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.icone-rede-social:hover {
    transform: scale(1.1);
}

.icone-rede-social img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* Media query */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    #sobre-mim h2 {
        font-size: 2.2em;
    }

    .habilidade img {
        width: 40px;
        height: 40px;
    }

    .projeto {
        width: 100%;
        margin-bottom: 20px;
    }

    #form-contato input, #form-contato textarea {
        font-size: 1em;
    }
    }
    @media (max-width: 510px) {
        header h1 {
            font-size: 1.8em;
        }
    
        #sobre-mim h2 {
            font-size: 1.8em;
        }
    
        .habilidade img {
            width: 35px;
            height: 35px;
        }
    
        .projeto {
            width: 100%;
            margin-bottom: 15px;
        }
    
        #form-contato input, #form-contato textarea {
            font-size: 0.9em;
        }
        #navbar{
            font-size: 0.6em;
        }
    
}
